REACT_APP_OPTIMISM_PORTAL_PROXY=""
REACT_APP_ADDRESS_MANAGER=""
REACT_APP_L1_CROSS_DOMAIN_MESSANGER_PROXY="" 
REACT_APP_L1_STANDARD_BRIDGE_PROXY="" 
REACT_APP_L2_OUTPUT_ORACLE_PROXY="" 
REACT_APP_L2_CHAIN_ID="12012"
REACT_APP_L1_CHAIN_ID="84532"
REACT_APP_L2_RPC_URL="https://rpc.snft.pro"
REACT_APP_L1_RPC_URL="https://sepolia.base.org"
REACT_APP_L2_NETWORK_NAME="SNFT TESTNET"
REACT_APP_L2_EXPLORER_URL="https://explorer.snft.pro"

REACT_APP_L2_BRIDGE=""
REACT_APP_L1_DAI=""
REACT_APP_L2_DAI=""
REACT_APP_L1_USDT=""
REACT_APP_L2_USDT=""
REACT_APP_L1_USDC=""
REACT_APP_L2_USDC=""
REACT_APP_L1_wBTC=""
REACT_APP_L2_wBTC=""

